<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swirv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D307F8AE1C0860BA00FB17FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D307F8C71C0860C100FB17FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D307F8D21C0860C100FB17FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
